.gradle/
.idea/
*.iml
build/
application/core/generated/
application/adapter/out/
application/configuration/out/
application/core/out/
application/periphery/data/out/
application/periphery/web/out/
*.class
test/integration-test/out/
