<configuration>

    <!-- This will help diagnose logback issues -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <springProfile name="duplicate-default">
        <turboFilter class="ch.qos.logback.classic.turbo.DuplicateMessageFilter"/>
    </springProfile>

    <springProfile name="duplicate-custom">
        <turboFilter class="com.example.clean.app.configuration.log.ExpiringDuplicateMessageFilter">
            <allowedRepetitions>4</allowedRepetitions>
            <cacheSize>200</cacheSize>
            <expireAfterWriteSeconds>30</expireAfterWriteSeconds>
            <excludeMarkers>AUDIT,SECURITY</excludeMarkers>
        </turboFilter>
    </springProfile>

<!-- Added this as recommended by logstash-logback-encoder. See Async Appenders https://github.com/logstash/logstash-logback-encoder -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

    <property name="logLevel" value="DEBUG"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] [%marker] %msg%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="com.example" level="${logLevel}" additivity="false">
        <appender-ref ref="ASYNC_STDOUT" />
    </logger>

    <root level="WARN">
        <appender-ref ref="ASYNC_STDOUT" />
    </root>

</configuration>